<html>
<head>
    <title>eID Test</title>
</head>
<body>
<h1>eID Tryout</h1>

<h2>Test-Identit&auml;ten</h2>

<p>F&uuml;r das Testen der Anmeldung f&uuml;r eine bestimmte Organisation/ein Unternehmen in Vertretung
    empfehlen wir die Testidentit&auml;t <i>Otto Ottakringer</i>.</p>

<p>
    <a href="https://eid.egiz.gv.at/anbindung/testidentitaeten/vordefinierte-testidentitaeten/"
       target="_blank">Liste mit Test-Identities</a>
</p>

<h2>Pseudo-Registrierung</h2>

<p>Unter dem folgenden Link kann eine Registrierung wie etwa auf ebUtilities.at getestet werden.
    Die angezeigten Daten könnten für einen automatischen Onboarding-Prozess herangezogen werden</p>

<p><a href="{{ redirectUrl }}">MUSTER Register for Austrian Market Communication</a><p>

<h2>Absprung auf ein anderes Portal</h2>

<p>[TODO] Hier sollte der Absprung von z.B. ebUtilities.at auf etwa das Support-Portal ausprobiert werden.</p>

</body>
</html>